{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/registrar.css' %}">
{% endblock %}

{% block content %}

<div class="form-wrapper">
  <h2 class="form-title">Registrar nuevo usuario</h2>

  <form method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-row">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      {% if field.errors %}
        <div class="error-message">
          {% for error in field.errors %}
            • {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}

    <div class="form-button">
      <button type="submit">Registrar</button>
    </div>
  </form>
</div>
{% endblock %}